*{
    
    padding: 0;
    text-align: center;
    margin: 10px;
    
}
body{
    background-image: url(bg.jpg);

    color: antiquewhite;
}
i{ height: 20px;
    opacity: 1;
    
    display: inline-block;
    padding-right: 40%;
}
h3{
    display: inline-block;
    margin-right: 300px;
    margin-top: 40px;
    font-size:30px;
     margin-bottom: 0px;
    
}
h2{
    font-size:50px;
}

i{
    margin-top: 0;
}
input{
    font-size: larger;
    height: 30px;
    margin: none;
}
#temp{
    height: 200px;
    width: 200px;
    font-weight: bolder;
    font-size: 40px;
    margin-left: 550px;
    margin-top: 50px;
}
p{
    font-weight: bold;
    font-size: 20px;
    padding-top: 10%;
}
#seven{
    width: 500px;
    margin-left: 400px;
    background-color: lightslategray ;
    border-radius: 10%;
    border: 3px solid silver;
    margin-top: 100px;
}
.six{
    display: inline-block;
    height: 80px;
    width: 100px;
    background-color: lightgreen;
    margin-right: 20px;
    text-align: center;
    padding-top: 10%;
    border: 3px solid silver;
    border-radius: 10%;
    color: black;
    
    
}

    

#sun{
    text-align: center;
    margin-left: 400px;
    height: 550px;
    width: 500px;
    margin-right: 0;
    color: white;
    background-color: lightslategray ;
    border-radius: 10%;
    border: 3px solid silver;
    margin-top: 70px;
}
#sunrise{
    width: 200px;
    height: 200px;
    color: black;
    display: inline-block;
     
}
#sunset{
    width:200px;
    height: 200px;
    color:black;
    display: inline-block;
    
}
#days{
    display: inline-block;
    background-color: lightslategray;
    width: 500px;
    border: 3px solid silver;
    border-radius: 10%;
    height: 530px;
    padding-top: 10px;
    
    color: black;
    font-size: larger;
    
}
 #time{
    width: 92px;
    height: 590px; 
    margin-top: 5px; 
    display: inline-block; 
    margin-left: 0px;
    padding-left: 0px;
 }

#hl{
    width: 110px;
    height: 590px; 
    margin-top: 5px; 
    display: inline-block; 
     margin-right:0px;
     padding-right:0px ;
   margin-left:150px;
    
}
#btn{
    height: 54px;
    width: 50px;
    
    
    margin-left: 0px;
    margin-bottom: 8px;
   
}
input{
    height: 50px;
    margin-top: 8px;
   
    margin-right: 0px;
    
    
}
input:hover,#btn:hover,#days:hover,#temp:hover,#sun:hover,#seven:hover{
    border: 5px solid silver;
    
}
.six:hover{
    border: 3px solid black;
}
#btn:active{
    border: 0px;
}


img{

    height: 30px;
    width: 30px;
    display: inline-block;
}
#location{
    margin-top: 0px;
    margin-right: 40px;
     width: 40px;
    height: 40px;
}
#location-background{
    background-image: url(bg.jpg);
    
}
#t{
    height: 30px;
    width: 30px;
    display: inline-block;
    margin: 0%;
    
}
#img{
     height: 500px;
    width: 40px;
    display: inline-block;
    position: absolute;
    margin-top: 80px;
     margin-left:0px;
     padding-left:0px ;

}